/TriCore Debug (TASKING)/Configurations/Debug/subdir.mk
/TriCore Debug (TASKING)/Configurations/subdir.mk
/TriCore Debug (TASKING)/EOL/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/_Impl/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/_Lib/DataHandling/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/_PinMap/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Asclin/Asc/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Asclin/Lin/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Asclin/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Can/Can/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Can/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Cpu/Irq/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Cpu/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Cpu/Trap/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Dma/Dma/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Dma/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Dts/Dts/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Dts/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Gpt12/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Gtm/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/I2c/I2c/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/I2c/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Mtu/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Pms/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Port/Io/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Port/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Qspi/SpiMaster/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Qspi/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Scu/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Src/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Stm/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/Infra/Platform/Tricore/Compilers/subdir.mk
/TriCore Debug (TASKING)/Libraries/Infra/Ssw/TC39B/Tricore/subdir.mk
/TriCore Debug (TASKING)/Libraries/Service/CpuGeneric/If/subdir.mk
/TriCore Debug (TASKING)/Libraries/Service/CpuGeneric/StdIf/subdir.mk
/TriCore Debug (TASKING)/Libraries/Service/CpuGeneric/SysSe/Bsp/subdir.mk
/TriCore Debug (TASKING)/Libraries/Service/CpuGeneric/SysSe/Comm/subdir.mk
/TriCore Debug (TASKING)/Libraries/subdir.mk
/TriCore Debug (TASKING)/makefile
/TriCore Debug (TASKING)/sources.mk
/TriCore Debug (TASKING)/subdir.mk
/TriCore Debug (TASKING)/TASKING_C_C___Compiler-Include_paths.opt
/TriCore Debug (TASKING)/ZCU_Test_Board.map
/TriCore Debug (TASKING)/ZCU_Test_Board.mdf
/TriCore Debug (TASKING)/Ethernet/Ethernet/lwip/port/src/subdir.mk
/TriCore Debug (TASKING)/Ethernet/Ethernet/lwip/src/api/subdir.mk
/TriCore Debug (TASKING)/Ethernet/Ethernet/lwip/src/core/ipv4/subdir.mk
/TriCore Debug (TASKING)/Ethernet/Ethernet/lwip/src/core/ipv6/subdir.mk
/TriCore Debug (TASKING)/Ethernet/Ethernet/lwip/src/core/subdir.mk
/TriCore Debug (TASKING)/Ethernet/Ethernet/lwip/src/netif/ppp/polarssl/subdir.mk
/TriCore Debug (TASKING)/Ethernet/Ethernet/lwip/src/netif/ppp/subdir.mk
/TriCore Debug (TASKING)/Ethernet/Ethernet/lwip/src/netif/subdir.mk
/TriCore Debug (TASKING)/Ethernet/Ethernet/Phy_Rtl8211f/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Geth/Eth/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Geth/Std/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Evadc/Adc/subdir.mk
/TriCore Debug (TASKING)/Libraries/iLLD/TC39B/Tricore/Evadc/Std/subdir.mk
